.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}
h1 {
    font-family: "tangerine";
    font-style: italic;
    font-weight: 400;
    font-size: 55px;
}
.mon {
  font-family: "Roboto", sans-serif ;
  font-weight: 700;
  word-spacing: 20px;
}
.tue {
  font-family: "winky Rough";
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1,5;
  text-align: center;
}
p {
  font-size: 50px;
  line-height:1,5 ;
  text-indent: 80px;
  font-family: "Winky Rough", sans-serif;
}
pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}