
body {
    color: blue;
    border: 5px solid red;
    font-size: 40px;
}
a:link {
    color: green;
}
a:visited {
    color: gray;
}

article,main{
    border: inherit;
}
p:hover {
    color: purple;
    background-color: pink;
}
input:focus {
    background-color: aqua;
}
button:focus {
    font-size: 40px;
}
form:disabled {
    background-color: black;
}
button:not([class=button1]) {
    background-color: blue;
}